<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description"
          content="Learn how to quickly get started using our CSS framework. We have guides for a variety of skill levels.">
    <title>Getting Started - Materialize</title>


    <script src="/libs/es6-shim/es6-shim.min.js"></script>
    <script src="/libs/systemjs/dist/system-polyfills.js"></script>
    <script src="/libs/angular2/es6/dev/src/testing/shims_for_IE.js"></script>

    <script src="/libs/angular2/bundles/angular2-polyfills.js"></script>
    <script src="/libs/systemjs/dist/system.src.js"></script>
    <script src="https://npmcdn.com/typescript@1.8.2/lib/typescript.js"></script>
    <script src="/libs/rxjs/bundles/Rx.js"></script>
    <script src="/libs/angular2/bundles/angular2.dev.js"></script>
    <script src="/libs/angular2/bundles/router.dev.js"></script>


    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">

    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#05B4C7">
    <!-- CSS-->
    <link href="/resources/css/prism.css" rel="stylesheet">
    <link href="/resources/css/ghpages-materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--
    <script>
        window.liveSettings = {
            api_key: "a0b49b34b93844c38eaee15690d86413",
            picker: "bottom-right",
            detectlang: true,
            dynamic: true,
            autocollect: true
        };
    </script>
    -->
    <script src="//cdn.transifex.com/live.js"></script>

    <script>

        System.config({
            transpiler: 'typescript',
            typescriptOptions: { emitDecoratorMetadata: true },
            packages: {'tt-app': {defaultExtension: 'ts'}}
        });
        System.import('tt-app/main')
                .then(null, console.error.bind(console));
    </script>

</head>
<body>
<header>

    <nav>
        <div class="nav-wrapper col s12">
            <a href="#!" class="brand-logo hide-on-large-only">TT-App</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
                <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
                <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <a href="#" data-activates="nav-mobile"
           class="button-collapse top-nav waves-effect waves-light circle hide-on-large-only">
            <i class="mdi-navigation-menu"></i>
        </a>
    </div>
    <ul id="nav-mobile" class="side-nav fixed">
        <li class="logo">
            <a id="logo-container" href="#" class="brand-logo">

                <h3>TT-App</h3>

            </a>
        </li>
        <li class="search">
            <div class="search-wrapper card">
                <input id="search"><i class="material-icons">search</i>
                <div class="search-results"></div>
            </div>
        </li>
        <li class="bold"><a href="about.html" class="waves-effect waves-teal">About</a></li>
        <li class="bold active"><a href="getting-started.html" class="waves-effect waves-teal">Getting Started</a></li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold"><a class="collapsible-header  waves-effect waves-teal">CSS</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="color.html">Color</a></li>
                            <li><a href="grid.html">Grid</a></li>
                            <li><a href="helpers.html">Helpers</a></li>
                            <li><a href="media-css.html">Media</a></li>
                            <li><a href="sass.html">Sass</a></li>
                            <li><a href="shadow.html">Shadow</a></li>
                            <li><a href="table.html">Table</a></li>
                            <li><a href="typography.html">Typography</a></li>
                        </ul>
                    </div>
                </li>
                <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Components</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="badges.html">Badges</a></li>
                            <li><a href="buttons.html">Buttons</a></li>
                            <li><a href="breadcrumbs.html">Breadcrumbs</a></li>
                            <li><a href="cards.html">Cards</a></li>
                            <li><a href="chips.html">Chips</a></li>
                            <li><a href="collections.html">Collections</a></li>
                            <li><a href="footer.html">Footer</a></li>
                            <li><a href="forms.html">Forms</a></li>
                            <li><a href="icons.html">Icons</a></li>
                            <li><a href="navbar.html">Navbar</a></li>
                            <li><a href="pagination.html">Pagination</a></li>
                            <li><a href="preloader.html">Preloader</a></li>
                        </ul>
                    </div>
                </li>
                <li class="bold"><a class="collapsible-header  waves-effect waves-teal">JavaScript</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="collapsible.html">Collapsible</a></li>
                            <li><a href="dialogs.html">Dialogs</a></li>
                            <li><a href="dropdown.html">Dropdown</a></li>
                            <li><a href="media.html">Media</a></li>
                            <li><a href="modals.html">Modals</a></li>
                            <li><a href="parallax.html">Parallax</a></li>
                            <li><a href="pushpin.html">Pushpin</a></li>
                            <li><a href="scrollfire.html">ScrollFire</a></li>
                            <li><a href="scrollspy.html">Scrollspy</a></li>
                            <li><a href="side-nav.html">SideNav</a></li>
                            <li><a href="tabs.html">Tabs</a></li>
                            <li><a href="transitions.html">Transitions</a></li>
                            <li><a href="waves.html">Waves</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li class="bold"><a href="http://materializecss.com/mobile.html" class="waves-effect waves-teal">Mobile</a></li>
        <li class="bold"><a href="showcase.html" class="waves-effect waves-teal">Showcase</a></li>
    </ul>
</header>

<main>
    <div class="row">
        <div class="col s12">

            <my-app>Loading...</my-app>

        </div>
    </div>


</main>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>if (!window.jQuery) {
        document.write('<script src="bin/jquery-2.1.1.min.js"><\/script>');
    }
</script>
<script src="/resources/js/jquery.timeago.min.js"></script>
<script src="/resources/js/prism.js"></script>
<script src="/resources/js/lunr.min.js"></script>
<script src="/resources/js/search.js"></script>
<script src="/resources/js/materialize.js"></script>
<script src="/resources/js/init.js"></script>



<!--  Google Analytics  -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-56218128-1', 'auto');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
</script>

<script>
    /*
    $('#download-source, #download-sass').on('click', function () {
        $('#download').slideUp(
                {
                    duration: 500,
                    easing: "easeOutQuart",
                    queue: false,
                    complete: function () {
                        $('#download-thanks').slideDown({
                            duration: 300,
                            easing: "easeOutQuart"
                        });
                    }
                });

    });
    */
</script>
</body>
</html>